<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daiqu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/notitle">
        <activity android:name=".bishe.activity.startActivity"></activity>
        <activity android:name=".bishe.activity.forgetPwdActivity2" />
        <activity android:name=".bishe.activity.loginActivity" />
        <!--
         <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config.xml" />
        -->
        <activity android:name=".bishe.activity.loadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bishe.activity.forgetPwdActivity1" />
    </application>

</manifest>